<!-- articles_list.html -->

   {% if len(parameters.articlesList) > 0 %}
 
	 <table class="table table-hover table-bordered">
	     <thead>
	     <tr>
	         <th>Название</th>
	         <th>Кратке содержание</th>
	         <th>Редактировать</th>
	         <th>Ревизии</th>
	     </tr>
	     </thead>
	     <tbody>
                                    
  {% for article in parameters.articlesList %}
			
			 <tr>
			     <td><a href="/{{ article.article_link }}">{{ article.article_title }}</a></td>
			     <td><a href="/{{ article.article_link }}">{{ article.article_annotation }}</a></td>
			     <td> <span class="badge badge-blue"><a style="color: #ffffff;" href="/compose/{{ article.article_link }}">{{ _("Edit this wiki") }}</a></span></td>
			     <td> <span class="badge badge-orange"><a style="color: #ffffff;" href="/revisionse/{{ article.article_id }}">{{ _("Revisions this wiki") }}</a></span></td>
			 </tr>
			
  {% end %}
 
  {% else %} 
  	{{ _("Аrticles yet") }}  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/compose"><i class="fa fa-edit fa-fw"></i><span class="menu-title">{{ _("Create new wiki") }}</span></a>
  {% end %}
 
                                    
	     </tbody>
	 </table>

 <!-- / articles_list.html -->
