<!-- personal_group_list.html -->

         <div class="clearfix"></div>
         

        <li><a href="/perconal_desk_top"><i class="fa fa-folder fa-fw">
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">Длинный список моих групп</span></a>
        </li>
        <li><a href="/perconal_desk_top"><i class="fa fa-folder fa-fw">
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">Длинный список моих групп</span></a>
        </li>
        <li><a href="/perconal_desk_top"><i class="fa fa-folder fa-fw">
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">Длинный список моих групп</span></a>
        </li>
        <li><a href="/perconal_desk_top"><i class="fa fa-folder fa-fw">
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">Длинный список моих групп</span></a>
        </li>
        <li><a href="/perconal_desk_top"><i class="fa fa-folder fa-fw">
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">Длинный список моих групп</span></a>
        </li>

<!-- personal_group_list.html -->
