<!-- personal_group_list.html -->

<div class="clearfix"></div>

  {% for group in groupList %} 
  
<!-- class="active"  -->
        <li {% if link == 'group_desk_top/'+str(group.group_id) %} class="active"  {% end %} ><a href="/group_desk_top/{{group.group_id}}">
        {% if link == 'group_desk_top/'+str(group.group_id)  %}<i class="fa fa-folder-open fa-fw">{% else %}<i class="fa fa-folder fa-fw">{% end %}
            <div class="icon-bg bg-blue"></div>
        </i><span class="menu-title">{{group.group_title}}</span></a>
        </li>

  {% end %}


<!-- personal_group_list.html -->
