<!-- admin/base_admin.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["wiki_title_admin"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("wiki_admin.css") }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["wiki_title_admin"]) }}">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
        {%  include "../menu.html" %}
        </div>
        <h1><a href="/">{{ escape(handler.settings["wiki_title_admin"]) }}</a></h1>
      </div>
      <!-- user IS: {{ current_user }} -->
      
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>

<!-- admin/base_admin.html -->
