
<!-- modules/revision.html -->
<div class="article">
  <h1>{{ revision.article_title }}</h1>
  <div class="annotation">{% raw revision.article_annotation %}</div>
  <div class="body">{% raw revision.article_html %}</div>
    <div class="admin">
  {% if current_user %}
    [<a href="/compose?aid={{ revision.article_id }}&rid={{ revision.revision_id }}">{{ _("Edit this wiki") }}</a>]
  {% end %}
    [<a href="/revisions?id={{ revision.article_id }}">{{ _("View all revisions") }}</a> ]
    <br>
    {{locale.format_date(revision.revision_date, full_format=True, shorter=True) }} flag: "{{ revision.revision_actual_flag }}";
    <br>сюда надо поставить работу с флагами!!!!!!
    и потом в модели сделать нормальную работу со сменой флагов 
    - если флаги меняются, значит, надо переписать и соотв. публишер.
    </div>
</div>
<!-- / modules/revision.html -->