<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["wiki_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("wiki.css") }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["wiki_title"]) }}">
    {% block head %}{% end %}
     <meta property="og:image" content="//sinst.fwdcdn.com/img/newImg/sinLogo.png"/> 
     <meta property="og:site_name" content="SINOPTIK.UA"/> 
     <meta property="og:description" content="Прогноз погоди в Алушті"/> 
     <meta property="fb:app_id" content="243438275713069" /> 
     <link rel="apple-touch-icon" href="//sinst.fwdcdn.com/img/newImg/touch-icon-iphone.png"> 
     <link rel="apple-touch-icon" sizes="76x76" href="//sinst.fwdcdn.com/img/newImg/touch-icon-ipad.png"> 
     <link rel="apple-touch-icon" sizes="120x120" href="//sinst.fwdcdn.com/img/newImg/touch-icon-iphone-retina.png"> 
     <link rel="apple-touch-icon" sizes="152x152" href="//sinst.fwdcdn.com/img/newImg/touch-icon-ipad-retina.png">
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          {% if current_user %}
          	||{{ current_user.user_name }}||
            <a href="/articles">{{ _("list Artikles") }}</a> -
            <a href="/compose">{{ _("New post") }}</a> -
            <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
          {% else %}
            {% raw _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/auth/login?next=" + url_escape(request.uri)} %}
          {% end %}
        </div>
        <h1><a href="/">{{ escape(handler.settings["wiki_title"]) }}</a></h1>
      </div>
      <!-- user IS: {{ current_user }} -->
      
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
