{% extends "base.html" %}

{% block body %}

{% if int(parameters.article.article_permission_code) == 403 %}
 {% include "permission_denied.html" %}  
 
{% else %}

  <div class="panel panel-blue" style="background:#fff;">
           <div class="panel-body pan">
				<form action="{{ request.path }}" method="post">
               <div class="form-body pal">
                   <div class="form-group">
                       <label for="inputName" class="control-label">{{ _("Article Name") }}</label>
                       <div class="input-icon right">
                           <i class="fa fa-font"></i>
                           <input class="form-control" name="title" type="text" placeholder=" {{ _("Article Name") }}" value="{{ parameters.article.article_title if parameters.article else "" }}"/>
                           </div>
                   </div>
                   
                   <div class="form-group">
                       <label for="inputMessage" class="control-label">{{ _("Article Annotation") }}</label>
                           <textarea name="annotation" rows="3" class="form-control">{{ parameters.article.article_annotation if parameters.article else "" }}</textarea>
                   </div>

                   <div class="form-group">
                       <label for="inputText" class="control-label">{{ _("Article Text") }}</label>
                       <textarea name="sourse" id="sourse" rows="20" class="form-control">{{ parameters.article.article_source if parameters.article else "" }}</textarea>
			            {{ parameters.article.article_category_id }};
			           tpl_categofy_id = {{ parameters.tpl_categofy_id }};
			            
			            {% if parameters.tpl_categofy_id != parameters.article.article_category_id %}
			            <script src="{{ static_url("js/ckeditor/ckeditor.js") }}"></script>
			            <script>
				            CKEDITOR.replace( 'sourse' );
				        </script>
				        {% end %}
                   </div>

<div class="row">

    <div class="col-md-4">
        <div class="form-group">
                       <label for="inputSubject" class="control-label">{{ _("Visibility Rules") }}</label>
            <select class="form-control" name="permissions">
                <option {% if parameters.article.article_permissions == 'pbl' %} selected="selected" {% end %} value="pbl"> {{_("Public")}}</option>
                <option {% if parameters.article.article_permissions == 'grp' %} selected="selected" {% end %} value="grp"> {{_("Group")}}</option>
                <option {% if parameters.article.article_permissions == 'sol' %} selected="selected" {% end %} value="sol"> {{_("Solo")}}</option>
            </select></div>
    </div>
    <div class="col-md-4">
        <div class="form-group" id="selector2template">

			<label for="inputSubject" class="control-label">{{_('Article Templates')}}</label>
			<select name="template_id" id="template_id" class="form-control">
				 {% for entry in parameters.templatesList %}
				<option {% if entry.article_id == parameters.templateWrkId %} selected="selected" {% end %} value="{{entry.article_id}}">{{entry.article_title}}</option>
				 {% end %}
			</select>

       </div>
    </div>
    <div class="col-md-4">
        <div class="form-group"id="selector2category">
            
			<label for="inputSubject" class="control-label">{{_('Article Category')}}</label>
			<select name="category_id" id="category_id" class="form-control">
				 {% for entry in parameters.categoryList %}
				<option {% if entry.article_id == parameters.selectedCategoryId %} selected="selected" {% end %} value="{{entry.article_id}}">{{entry.article_title}}</option>
				 {% end %}
			</select>
            
       </div>
    </div>
</div>
               </div>
               <div class="form-actions text-right pal">
                   <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
                   &nbsp;<a href="/personal_desk_top" class="btn btn-primary">{{ _("Cancel") }}</a>
               </div>

    {% if parameters.article.article_id > 0 %}
      &nbsp;<a href="/upload/{{ parameters.article.article_id  if parameters.article else 0 }}">{{ _("Upload") }}</a>
    {% end %}
    </div>
      <input type="hidden" name="id" value="{{ parameters.article.article_id }}"/>
      <input type="hidden" name="group_id" value="{{ parameters.groupId }}"/>
      
    {% module xsrf_form_html() %}

  {% module FilesList( parameters.fileList) %}

               </form>
           </div>
       </div>
       <br><br><br><br><br>
{% end %}

{% end %}

{% block bottom %}
   
  <script type="text/javascript">
  //<![CDATA[

//    $(function() {
//    $("input[name=article_title]").select();
//      $("form.compose").submit(function() {
//          var required = ["article_title", "article_source"];
//          var form = $(this).get(0);
//          for (var i = 0; i < required.length; i++) {
//              if (!form[required[i]].value) {
//                  $(form[required[i]]).select();
//                  return false;
//              }
//          }
//          return true;
//      });
////    });

  //]]>
  </script>
{% end %}
