{% extends "base.html" %}

{% block body %}
  
	<div class="col-md-9">
	  <div id="generalTabContent" class="tab-content">
	      <div id="tab-edit" class="tab-pane fade in active">
	          <form action="/auth/create" method="POST" class="form-horizontal"><h3>{{_("Account Setting")}}</h3>
	
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("Email")}}</label>
	
	                  <div class="col-sm-9 controls">
	                      <div class="row">
	                          <div class="col-xs-9"><input name="email" type="email" placeholder="email@yourcompany.com" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("Login")}}</label>
	
	                  <div class="col-sm-9 controls">
	                          <div class="col-xs-9"> 
	                      <div class="row"> <input name="login" type="text" placeholder="login" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("Password")}}</label>
	
	                  <div class="col-sm-9 controls">
	                      <div class="row">
	                          <div class="col-xs-4"><input name="pass" type="password" placeholder="password" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("Confirm Password")}}</label>
	
	                  <div class="col-sm-9 controls">
	                      <div class="row">
	                          <div class="col-xs-4"><input name="pass_conf" type="password" placeholder="password" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
	              <hr/>
	              <h3>{{_("Profile Setting")}}</h3>
	
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("First Name")}}</label>
	
	                  <div class="col-sm-9 controls">
	                      <div class="row">
	                          <div class="col-xs-9"><input name="name" type="text" placeholder="first name" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
	              <div class="form-group"><label class="col-sm-3 control-label">{{_("Last Name")}}</label>
	
	                  <div class="col-sm-9 controls">
	                      <div class="row">
	                          <div class="col-xs-9"><input type="text"name="surname" placeholder="last name" class="form-control"/></div>
	                      </div>
	                  </div>
	              </div>
<!--
                   <div class="form-group"><label class="col-sm-3 control-label">{{_("Gender")}}</label>

                      <div class="col-sm-9 controls">
                          <div class="row">
                              <div class="col-xs-9">
                                  <div class="radio"><label class="radio-inline"><input type="radio" value="0" name="gender" checked="checked"/>&nbsp;
                                      {{_("Male")}}</label><label class="radio-inline"><input type="radio" value="1" name="gender"/>&nbsp;
                                      {{_("Female")}}</label></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label"{{_("Birthday")}}"></label>

                      <div class="col-sm-9 controls">
                          <div class="row">
                              <div class="col-xs-4"><input id="datepicker-normal" name="birthday" type="text" class="form-control"/></div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">{{_("Birthday")}}x</label>

                      <div class="col-sm-9 controls">
                          <div class="row">
                              <div class="col-xs-9"><textarea rows="3" class="form-control"></textarea></div>
                          </div>
                      </div>
                  </div>
 -->
                   <hr/>
                    
                    <h3>{{_("Contact Setting")}}</h3>

                    <div class="form-group"><label class="col-sm-3 control-label">{{_("Mobile Phone")}}</label>

                        <div class="col-sm-9 controls">
                            <div class="row">
                                <div class="col-xs-9"><input type="text" placeholder="mobile phone" class="form-control" name="phon"  /></div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="form-group"><label class="col-sm-3 control-label"{{_("Website")}}"></label>

                       <div class="col-sm-9 controls">
                           <div class="row">
                               <div class="col-xs-9"><input type="text" placeholder="website" class="form-control" name="name" /></div>
                           </div>
                       </div>
                   </div>
                   <div class="form-group"><label class="col-sm-3 control-label">{{_("Facebook")}}</label>

                       <div class="col-sm-9 controls">
                           <div class="row">
                               <div class="col-xs-9"><input type="text" placeholder="facebook" class="form-control" name="name" /></div>
                           </div>
                       </div>
                   </div>
                   <div class="form-group"><label class="col-sm-3 control-label">{{_("Facebook")}}x</label>

                       <div class="col-sm-9 controls">
                           <div class="row">
                               <div class="col-xs-9"><input type="text" placeholder="twitter" class="form-control" name="name" /></div>
                           </div>
                       </div>
                   </div>
 -->
                   <hr/>
                    <button type="submit" class="btn btn-green btn-block">{{_("Finish")}}</button>
  {% module xsrf_form_html() %}
                </form>
            </div>
        </div>
    </div>
  
  
  

{% end %}
