<!-- group_dt.html -->

{% extends "base.html" %}

{% block body %}


 <!--BEGIN CONTENT-->
  <div class="page-content">
      <div id="tab-general">

		<div class="col-lg-12">
          <ul class="nav nav-tabs">
              <li class="{% if parameters.groupData.group_id > 0 %} active {% end %}"><a href="#tab-view" data-toggle="tab">View Group</a></li>
              <li class="{% if parameters.groupData.group_id == 0 %} active {% end %}"><a href="#tab-edit" data-toggle="tab">Edit Group</a></li>
          </ul>
          <div id="generalTabContent" class="tab-content">
          
          <div id="tab-view" class="tab-pane fade">
              <div class="row">
 					{{ _("Group Name") }}: {{ parameters.groupData.group_title if parameters.groupData else "" }}
               </div>
              <div class="row">
 					{{ _("Group Annotation") }}: {{ parameters.groupData.group_annotation if parameters.groupData else "" }}
               </div>
          </div>
      
      
          <div id="tab-edit" class="tab-pane fade active in">

              
           <div class="panel-body pan">
				<form action="{{ request.path }}" method="post">
               <div class="form-body pal">
                   <div class="form-group">
                       <label for="inputName" class="control-label">{{ _("Group Name") }}</label>
                       <div class="input-icon right">
                           <i class="fa fa-font"></i>
                           <input class="form-control" name="title" type="text" placeholder=" {{ _("Group Name") }}" value="{{ parameters.groupData.group_title if parameters.groupData else "" }}"/>
                           </div>
                   </div>
                   
                   <div class="form-group">
                       <label for="inputMessage" class="control-label">{{ _("Group Annotation") }}</label>
                           <textarea name="annotation" rows="3" class="form-control">{{ parameters.groupData.group_annotation if parameters.groupData else "" }}</textarea>
                   </div>

				<div class="row">
				
				    <div class="col-md-4">
				        <div class="form-group">
				                       <label for="inputSubject" class="control-label">{{ _("Visibility Rules") }}</label>
				            <select class="form-control" name="status">
				                <option {% if parameters.groupData.group_status == 'pbl' %} selected="selected" {% end %} value="pbl"> {{_("Public")}}</option>
				                <option {% if parameters.groupData.group_status == 'sol' %} selected="selected" {% end %} value="shut"> {{_("Solo")}}</option>
				            </select></div>
				    </div>
				</div>
               </div>
               <div class="form-actions text-right pal">
                   <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
                   &nbsp;<a href="/personal_desk_top" class="btn btn-primary">{{ _("Cancel") }}</a>
               </div>

    {% if parameters.groupData.group_id > 0 %}
      &nbsp;<a href="/upload/{{ parameters.groupData.group_id  if parameters.groupData else 0 }}">{{ _("Upload") }}</a>
    {% end %}
      <input type="hidden" name="id" value="{{ parameters.groupData.group_id }}"/>
    {% module xsrf_form_html() %}
               </form>
           </div>
         </div>
      </div>
</div>

    {% if parameters.groupData.group_id > 0 %}

    	<div class="col-lg-12">
              <div class="row">
          <div class="panel panel-yellow">
			<div class="panel-heading">{{ _("List group wikis") }} &nbsp;&nbsp;&nbsp; 
              <span class="badge badge-blue"><a style="color: #ffffff;" href="/compose?gid={{parameters.groupData.group_id}}">{{ _("Create new wiki") }}</a></span>
			</div>
              <div class="panel-body" id='groups_list_table'>

				{% include "rest/articles_list.html" %} 

              </div>
          </div>
          
          
          <div class="panel panel-red">
              <div class="panel-heading">{{ _("List group members") }}</div>
              <div class="panel-body" id="list_members">

				{% include "rest/members_list.html" %} 

              </div>
          </div>
  </div>
         
  </div>
    {% end %}           
<br>              
<br>              
<br>              
              
              
          </div>
      </div>
  </div>
  <!--END CONTENT-->

{% end %}


{% block bottom %}


{% end %}

<!-- / group_dt.html -->
