<!-- login.html -->

{% extends "base.html" %}

{% block body %}

<div class="panel panel-yellow">
 <div class="panel-heading">
     {{_("Login Form")}}</div>
 <div class="panel-body pan">
     <form action="/auth/login" method="POST" class="form-horizontal">
     <div class="form-body pal">
		{% if error %}
		<span style="color: red">{{_("Error")}}: {{ error }}</span><p>
		{% end %}
         <div class="form-group">
             <label for="inputName" class="col-md-3 control-label">
                 {{_("login/e-mai")}}l</label>
             <div class="col-md-9">
                 <div class="input-icon right">
                     <i class="fa fa-user"></i>
                     <input id="login" name="login" placeholder="username (e-mail)" class="form-control" type="text"></div>
             </div>
         </div>
         <div class="form-group">
             <label for="inputPassword" class="col-md-3 control-label">
                 {{_("Password")}}</label>
             <div class="col-md-9">
                 <div class="input-icon right">
                     <i class="fa fa-lock"></i>
                     <input id="password" name="password" placeholder="password"  class="form-control" type="password"></div>
                 <span class="help-block mbn"><a href="#"><small>{{_("Forgot password?")}} </small> </a></span>
             </div>
         </div>
         <div class="form-group mbn">
             <div class="col-md-offset-3 col-md-6">
                 <div class="checkbox">
                     <label class="">
                         <div class="icheckbox_minimal-grey" style="position: relative;">
                         <input tabindex="5" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox">
                         <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                         &nbsp; {{_("Keep me logged in")}}</label></div>
                </div>
            </div>
        </div>
        <div class="form-actions pal">
            <div class="form-group mbn">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-primary">{{_("Login")}}</button>&nbsp;&nbsp;&nbsp;
                    <a href="/auth/create" class="btn btn-primary">{{_("Register")}}</a>
                </div>
            </div>
        </div>
  {% module xsrf_form_html() %}
        </form>
    </div>
</div>
	
{% end %}


<!-- / login.html -->
