<!-- login.html -->

{% extends "base.html" %}

{% block body %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}

<form action="/auth/login" method="POST">
	
	<div class="form-group"><label class="col-sm-3 control-label">Username</label>
	
	    <div class="col-sm-9 controls">
	        <div class="row">
	            <div class="col-xs-9"><input name="login" placeholder="username (e-mail)" class="form-control" type="text"></div>
	        </div>
	    </div>
	</div>
	<div class="form-group"><label class="col-sm-3 control-label">Password</label>
	
	    <div class="col-sm-9 controls">
	        <div class="row">
	            <div class="col-xs-4"><input name="password" placeholder="password" class="form-control" type="password"></div>
	        </div>
	    </div>
	</div>
	
  {% module xsrf_form_html() %}
  <button class="btn btn-green btn-block" type="submit">login</button>
</form>
{% end %}


<!-- / login.html -->
