{% extends "base.html" %}

{% block body %}
<form action="/profile" method="POST"> 
   {% module xsrf_form_html() %}
 
                  <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                            <div class="col-lg-12">
                                
                                            <div class="col-md-12">
                                                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                                </div>
                                            </div>
                                
                            </div>

                            <div class="col-lg-12">
                              
                                    
                              <div class="row">
                    <div class="col-md-12"><h2>{{_("Profile")}}: {{ page_name }}</h2>

                        <div class="row mtl">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="text-center mbl"><img src="http://lorempixel.com/640/480/business/1/" alt="" class="img-responsive"/></div>
                                    <div class="text-center mbl"><a href="#" class="btn btn-green"><i class="fa fa-upload"></i>&nbsp;
                                         {{_("Upload")}}</a></div>
                                </div>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr>
                                        <td>{{_("Autor Name")}}</td>
                                        <td>{{ page_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{_("Email")}}</td>
                                        <td>{{autor.author_email}}</td>
                                    </tr>
<!--                                     <tr>
                                        <td>{{_("Address")}}</td>
                                        <td>Street 123, Avenue 45, Country</td>
                                    </tr>
                                    <tr>
                                        <td>{{_("Autor Status")}}</td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>
 -->
                                     <tr>
                                        <td>{{_("Autor Role")}}</td>
                                        <td><span class="label label-success">{{autor.author_role}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>{{_("Member Since")}}</td>
                                        <td> {{ locale.format_date(autor.author_create, full_format=True, shorter=True) }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                
								<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-content">
										<ul class="list-inline item-details">
											<li><a href="http://themifycloud.com">{{_("Admin templates")}}</a></li>
											<li><a href="http://themescloud.org">{{_("Bootstrap themes")}}</a></li>
										</ul>
									</div>
								</div>
                            </div>
                            <div class="col-md-9">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-edit" data-toggle="tab">{{_("Edit Profile")}}</a></li>
                                </ul>
                                <div id="generalTabContent" class="tab-content">
		{% if error %}
		<span style="color: red">{{_("Error")}}: {{ error }}</span><p>
		{% end %}
                                
                                    <div id="tab-edit" class="tab-pane fade in active">
                                        <form action="#" class="form-horizontal"><h3>{{_("Account Setting")}}</h3>

                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Email")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input name="email" value="{{autor.author_email}}" type="email" placeholder="email@yourcompany.com" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Login")}}</label>

                                                <div class="col-sm-9 controls">
                                                        <div class="col-xs-9"> 
                                                    <div class="row"> <input name="login" value="{{autor.author_login}}" type="text" placeholder="login" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Password")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-4"><input name="pass" type="password" placeholder="password" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Confirm Password")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-4"><input name="pass_conf" type="password" placeholder="password" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <h3>{{_("Profile Setting")}}</h3>



                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("First Name")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input name="name" value="{{autor.author_name}}"  type="text" placeholder="first name" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Last Name")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text"name="surname" value="{{autor.author_surname}}"  placeholder="last name" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
<!--                                             <div class="form-group"><label class="col-sm-3 control-label">{{_("Gender")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <div class="radio"><label class="radio-inline"><input type="radio" value="0" name="gender" checked="checked"/>&nbsp;
                                                                {{_("Male")}}</label><label class="radio-inline"><input type="radio" value="1" name="gender"/>&nbsp;
                                                                {{_("Female")}}</label></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label"{{_("Birthday")}}"></label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-4"><input id="datepicker-normal" name="birthday" value="{{autor.author_surname}}" type="text" class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Birthday")}}x</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><textarea rows="3" class="form-control"></textarea></div>
                                                    </div>
                                                </div>
                                            </div>
 -->                                            <hr/>
                                            
                                            <h3>{{_("Contact Setting")}}</h3>

                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Mobile Phone")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="mobile phone" class="form-control" name="phon" value="{{autor.author_phon}}" /></div>
                                                    </div>
                                                </div>
                                            </div>
<!--                                             <div class="form-group"><label class="col-sm-3 control-label"{{_("Website")}}"></label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="website" class="form-control" name="name" value="{{autor.author_login}}"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Facebook")}}</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="facebook" class="form-control" name="name" value="{{autor.author_login}}"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label">{{_("Facebook")}}x</label>

                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="twitter" class="form-control" name="name" value="{{autor.author_login}}"/></div>
                                                    </div>
                                                </div>
                                            </div>
 -->                                            <hr/>
                                            <button type="submit" class="btn btn-green btn-block">{{_("Finish")}}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                              
                                </div>
                                
                            
                     
                            
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
  
</form>
{% end %}
